p{
    color: blue;
}

h1 {
    color: aqua;
}


body {
    background-color: cornflowerblue;

}
li{
    list-style-type: square;
margin: 3px;
padding: 3px;
}
a {
    background-color: darkgreen;
    color: crimson;
    text-decoration: none;
}
ul{
    /* Make background of unordered list gray. */
    background-color: grey;
}
#favorite-movie-name{
    color: crimson;

}
#favorite-music-name{
    color: darkorange;
}
.favorite-image{
border-radius:25px;

;
}
#most\ favorite{
    background-color: cyan;

}
.section-header{
    background-color: darkkhaki;
}
.second-favorite{
    background-color: darkgreen;
}
#page-title {
    text-shadow: 10px 10px darkcyan;
}

table, tr, th, td {

    border: 1px solid black;
    border-collapse: collapse;
}
th{
    background-color: blue;
}
td{
    background-color: aqua;
    width: 33%;
}
